
// Utilities
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
.jumbutron {
  background: #f0f0f0;
  border-radius: 10px;
}
.m-container {
  margin: auto;
  width: 80%;
  @media screen and (max-width: 800px) {
    width: 90%;
  }
  @media screen and (min-width: 1200px) {
    width: 70%;
  }
  @media screen and (min-width: 1500px) {
    width: 60%;
  }
}
.jumbutron-dark {
  background: #dfdfdf;
  border-radius: 7px;
}
*:focus {
  box-shadow: none !important;
}
input:focus {
  box-shadow: none !important;
  border: 1px solid #ced4da !important;
}
::placeholder {
  text-transform: none;
}
.space-even>*+*{
  margin-top: 1rem;
}
.link {
  color: blue;
  background: none;
  border: none;
  text-decoration: underline;
  padding: 0;
  font-weight: 500;
}

// Schedule
.schedule {
  background-color: #90c6ff;
  color: #002c5a;
  padding: 1rem;
  border-radius: 15px;
}
table {
  width: 100%;
}
th {
  text-align: center;
}
td, tr:nth-last-child(9) {
  border: 1px solid #658fc5;
}
.schedule-head {
  margin: 0 1rem;
}
.bold {
  font-weight: 600;
}
.slot {
  background: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 7px;
  text-align: center;
}

